@import '@assets/styles/components';
@import '@assets/styles/colors';
@import '@assets/styles/fonts';

.card-info {
  color: $white;
  margin: 0;
  margin-bottom: 1.125rem;

  &__thumb-img {
    @include thumb-box;

    &--up {
      background-color: $green-positive;
    }

    &--down {
      background-color: $yellow-negative;
    }
  }

  &__content {
    display: flex;

    > div {
      &:nth-child(1) {
        width: 16.188rem;
      }

      &:nth-child(2) {
        width: 26.75rem;
      }
    }
  }

  &__name {
    color: $white;
    font-size: $size-x-large;
    line-height: 3.938rem;
  }
  &__description {
    font-size: $size-medium;
    word-break: word-break;
    line-height: 22px;
    height: 2.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__last-work-comment {
    font-weight: bold;
    font-size: $size-normal;
    line-height: 18px;
    text-align: right;
  }

  &__rigth-side {
    width: 330px;
    > p {
      padding: 8px 14px 0 43px;
    }
  }

  &__vote-side {
    display: flex;
    justify-content: flex-end;
    padding: 19px 14px 17px 43px;
    width: 273px;
  }
}
