@import '@assets/styles/components';
@import '@assets/styles/colors';
@import '@assets/styles/fonts';

.ballot-box {
  display: flex;

  &__options {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;

    input {
      display: none;
    }
    label {
      @include thumb-box;
      margin-right: 0.563rem;
      cursor: pointer;

      &[for*='approve'] {
        background-color: $green-positive;

        &:hover {
          background-color: $green-positive-hover;
        }
      }

      &[for*='disapprove'] {
        background-color: $yellow-negative;

        &:hover {
          background-color: $yellow-negative-hover;
        }
      }
    }

    input:checked + label {
      outline: 2px solid $white;
    }
  }
}
