@import '@assets/styles/colors';
@import '@assets/styles/fonts';

.dropdown-menu {
  font-size: $size-small;
  height: auto;

  &__title {
    border: 2px solid $darker-gray;
    background-color: $white;
    height: 2.25rem;
    width: 10.813rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: $size-small;

    span {
      width: 6.875rem;
      padding-inline: 0.625rem;
    }
  }

  &__items-list {
    position: absolute;
    cursor: pointer;
    display: none;
    transition: height, 0.5s linear;

    &--open {
      display: block;
      transition: height, 0.5s linear;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 2px solid $darker-gray;
      border-left: 2px solid $darker-gray;
      border-bottom: 2px solid $darker-gray;
      background-color: $white;
      width: 10.563rem;
      height: 1.875rem;

      &:hover {
        background-color: $white-hover;
      }

      > button {
        width: inherit;
        height: inherit;
        border: none;
        background-color: inherit;
        cursor: inherit;
        font-size: inherit;
      }
    }
  }
}
