$background-positive: rgba(60, 187, 180, 0.6);
$background-negative: rgba(249, 173, 29, 0.6);
$green-positive-hover: #3cbbb4;
$yellow-negative-hover: #f9ad1d;
$green-positive: rgba(#3cbbb4, 0.8);
$yellow-negative: rgba(#f9ad1d, 0.8);
$dark-background: rgba(0, 0, 0, 0.4);
$darker-background: rgba(0, 0, 0, 0.6);
$darker-background-hover: rgba(0, 0, 0, 0.8);
$darker-gray: #333333;
$dark-gray: #464646;
$light-gray: #ebebeb;
$light-background: rgba(255, 255, 255, 0.4);
$lighter-background: rgba(255, 255, 255, 0.8);
$white: #ffffff;
$white-hover: #eeeeee;
