$green-positive: #3cbbb4;
$yellow-negative: #f9ad1d;
$green-positive-hover: rgba(#3cbbb4, 0.8);
$yellow-negative-hover: rgba(#f9ad1d, 0.8);
$dark-background: rgba(0, 0, 0, 0.4);
$darker-background: rgba(0, 0, 0, 0.6);
$darker-background-hover: rgba(0, 0, 0, 0.8);
$darker-gray: rgba(51, 51, 51, 1);
$dark-gray: rgba(70, 70, 70, 1);
$light-gray: rgba(235, 235, 235, 1);
$light-background: rgba(255, 255, 255, 0.4);
$lighter-background: rgba(255, 255, 255, 0.8);
$white: rgba(255, 255, 255, 1);
