@import '@assets/styles/colors';
@import '@assets/styles/fonts';

.button-action {
  height: 2.813rem;
  width: 8.438rem;
  font-size: $size-medium;
  color: $white;
  border: 1px solid $white;
  background-color: $darker-background;
  cursor: pointer;

  &:hover {
    background-color: $darker-background-hover;
  }

  &:disabled {
    background-color: $darker-background-hover;
    cursor: not-allowed;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.title-page {
  font-weight: 300;
  font-size: $size-x-large;
  line-height: 3.375rem;
}

@mixin thumb-box {
  display: flex;
  padding: 0.656rem;
  width: min-content;
  height: min-content;
}
