/** Roboto Font Face */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Black.ttf') format('TrueType');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-BlackItalic.ttf') format('TrueType');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('TrueType');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('TrueType');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Italic.ttf') format('TrueType');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('TrueType');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-LightItalic.ttf') format('TrueType');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('TrueType');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-MediumItalic.ttf') format('TrueType');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Thin.ttf') format('TrueType');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-ThinItalic.ttf') format('TrueType');
  font-weight: 100;
  font-style: italic;
}

/** Yaldevi Font Face */
@font-face {
  font-family: 'Yaldevi';
  src: url('../fonts/Yaldevi/Yaldevi-Bold.ttf') format('TrueType');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Yaldevi';
  src: url('../fonts/Yaldevi/Yaldevi-ExtraLight.ttf') format('TrueType');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Yaldevi';
  src: url('../fonts/Yaldevi/Yaldevi-Light.ttf') format('TrueType');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Yaldevi';
  src: url('../fonts/Yaldevi/Yaldevi-Medium.ttf') format('TrueType');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Yaldevi';
  src: url('../fonts/Yaldevi/Yaldevi-Regular.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yaldevi';
  src: url('../fonts/Yaldevi/Yaldevi-SemiBold.ttf') format('TrueType');
  font-weight: 600;
  font-style: normal;
}

$size-smaller: 0.75rem; /* 12px */
$size-small: 0.875; /* 14px */
$size-normal: 1rem; /* 16px */
$size-medium: 1.125rem; /* 18px */
$size-large: 1.5rem; /* 24px */
$size-larger: 1.75rem; /* 28px */
$size-x-large: 2.875rem; /* 46px */

$font-primary: 'Roboto', 'Lato', sans-serif;

$font-secondary: 'Yaldevi', 'Fira Sans', 'Droid Sans', sans-serif;
