@import '@assets/styles/colors';
@import '@assets/styles/fonts';

/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /** 16px * 0.625 = 10px */
}

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: $size-smaller;
  line-height: 1.7;
  color: $white;
  background-color: $white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
